/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto Slab', serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292d2e;
    font-family: 'Roboto Slab', serif;
}

textarea:focus,
input:focus {
    outline: none;
}

#minerals {
    background-color: #2f3a40;
    padding: 0;
    margin: 0;
    border: none;
    border-spacing: 0px;
    color: #5a676f;
    width: 100%;
}

#minerals #skill {
    position: relative;
}

#minerals #skill input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 30px;
    color: #fff;
    z-index: 100;
    border: none;
    background-color: #da4a4a;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
}

#minerals thead {
    background-color: #e9eaec;
}

#minerals thead tr th {
    padding: 30px 10px;
    color: #292d2e;
    text-transform: uppercase;
    border: none;
}

#minerals thead tr th.bold {
    font-weight: 700;
    text-align: center;
}

#minerals tr.input {
    background-color: #252e33;
}

#minerals tr.input td.mineral-input {
    height: 36px;
    vertical-align: middle;
    color: #d3d7da;
    transition: background-color .5s, color 1s;
}

#minerals tr.input td.mineral-input:hover,
#minerals tr.input td.mineral-input.active {
    background-color: #d3d7da;
    color: #333333;
    cursor: pointer;
}

#minerals tr.input td.mineral-input input {
    width: 100%;
    border: none;
    text-align: right;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    letter-spacing: .5px;
}

#minerals th,
#minerals td {
    text-align: right;
    width: 120px;
    border-bottom: 1px solid #323e45;
    padding: 3px 10px;
}

#minerals tr:last-child th,
#minerals tr:last-child td {
    border-bottom: none;
}

#minerals th {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

#minerals tbody th {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #7c8e99;
    padding: 0 40px 0 0;
    width: 130px;
}

#minerals tr td.selection.active {
    cursor: pointer;
    transition: background-color .5s, color 1s;
}

#minerals tr td.selection.active:hover {
    color: #ffffff;
    background-color: #36434a
}

#minerals tr td.volume {
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: left;
}

#minerals tr td.blocks {
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 200;
    text-align: left;
    padding-left: 40px;

}

#minerals tr td.accent {
    background-color: #5a676f;
    color: #2f3a40;
}

#minerals tr td .base {
    padding: 1px 5px;
    min-height: 18px;
    font-size: 12px;
    font-weight: 400;
}

#minerals tr td .mined {
    font-weight: 300;
    color: #ffffff;
    padding: 1px 5px;
    min-height: 18px;
    font-size: 16px;
}

#textarea-input {
    position: relative;
    border-bottom: none !important;
}

#textarea {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2f3a40;
    border: none;
    border-top: 10px solid #252e33;
    border-left: 10px solid #252e33;
    padding: 15px;
    color: #ffffff;
}

#minerals tfoot {
    background-color: #252e33;
}

#minerals tfoot tr th {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    letter-spacing: .5px;
    font-weight: 300;
    padding: 15px 10px;
    border-bottom: none;
}

#minerals tfoot tr th.general {
    background-color: #2aa2a1;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    letter-spacing: .5px;
}

.mer.bg-img {
    background-image: url("img/36_64_7.png");
}

.mer .blocks.show-bg {
    background-image: url("img/71_64_16.png");
}

.ark.bg-img {
    background-image: url("img/23_64_5.png");
}

.ark .blocks.show-bg {
    background-image: url("img/71_64_1.png");
}

.bis.bg-img {
    background-image: url("img/23_64_6.png");
}

.bis .blocks.show-bg {
    background-image: url("img/71_64_2.png");
}

.cro.bg-img {
    background-image: url("img/23_64_7.png");
}

.cro .blocks.show-bg {
    background-image: url("img/71_64_3.png");
}

.och.bg-img {
    background-image: url("img/23_64_8.png");
}

.och .blocks.show-bg {
    background-image: url("img/71_64_4.png");
}

.gne.bg-img {
    background-image: url("img/25_64_1.png");
}

.gne .blocks.show-bg {
    background-image: url("img/71_64_15.png");
}

.spo.bg-img {
    background-image: url("img/23_64_14.png");
}

.spo .blocks.show-bg {
    background-image: url("img/71_64_10.png");
}

.hed.bg-img {
    background-image: url("img/23_64_9.png");
}

.hed .blocks.show-bg {
    background-image: url("img/71_64_5.png");
}

.hem.bg-img {
    background-image: url("img/23_64_10.png");
}

.hem .blocks.show-bg {
    background-image: url("img/71_64_6.png");
}

.jas.bg-img {
    background-image: url("img/23_64_11.png");
}

.jas .blocks.show-bg {
    background-image: url("img/71_64_7.png");
}

.ker.bg-img {
    background-image: url("img/23_64_12.png");
}

.ker .blocks.show-bg {
    background-image: url("img/71_64_8.png");
}

.omb.bg-img {
    background-image: url("img/23_64_13.png");
}

.omb .blocks.show-bg {
    background-image: url("img/71_64_9.png");
}

.pla.bg-img {
    background-image: url("img/24_64_2.png");
}

.pla .blocks.show-bg {
    background-image: url("img/71_64_14.png");
}

.pyr.bg-img {
    background-image: url("img/23_64_16.png");
}

.pyr .blocks.show-bg {
    background-image: url("img/71_64_12.png");
}

.sco.bg-img {
    background-image: url("img/23_64_15.png");
}

.sco .blocks.show-bg {
    background-image: url("img/71_64_11.png");
}

.vel.bg-img {
    background-image: url("img/24_64_1.png");
}

.vel .blocks.show-bg {
    background-image: url("img/71_64_13.png");
}

.bg-img.ore {
    background-position: right center;
    background-size: 30px 30px;
    background-repeat: no-repeat;           
}

.blocks.show-bg {
    background-position: left center;
    background-size: 30px 30px;
    background-repeat: no-repeat;  
}

.tri.accent {
    background-image: url("img/6_64_14.png");
}

.pye.accent {
    background-image: url("img/6_64_15.png");
}

.mex.accent {
    background-image: url("img/6_64_12.png");
}

.iso.accent {
    background-image: url("img/6_64_16.png");
}

.noc.accent {
    background-image: url("img/11_64_9.png");
}

.zyd.accent {
    background-image: url("img/11_64_11.png");
}

.meg.accent {
    background-image: url("img/11_64_10.png");
}

.mor.accent {
    background-image: url("img/35_64_2.png");
}

.selection.accent {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40px;
}