/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, th, .name {
    font-family: 'Montserrat', sans-serif;
}

.flex-container {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.col {
    padding: 0 5px;
}

.row {
    padding: 10px 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

table {
    text-align: right;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-weight: 600;
}

table td, table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

table .name {
    font-weight: 600;
    text-align: left;
}